<div class="bg-white">
  <div class="container pt50 pb30"> 
    <!-- Carousel -->
    <div class="carousel-client owl-carousel owl-theme">
      <div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
		<div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
		<div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
		<div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
		<div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
		<div class="item text-center"> <img src="{{siteUrl}}images/cl-1.png" alt="" class="img-fluid"> </div>
    </div>
    <!-- /Carousel --> 
  </div>
  <!--/.clients--> 
</div>