<!DOCTYPE html>
<html lang="nl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gurdilo</title>    
        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet"  href="smart-form/contact/css/smart-forms.css">
		<!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="cubeportfolio/css/cubeportfolio.min.css">
		
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
		{% block content %}
		
		{% endblock %}
         
    </body>
</html>
